<!-- Home Content -->
<section class="hero-header">
  <div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start welcome">
                <h1 class="display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Meal</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">अन्न हे पूर्ण ब्रह्म!!!<br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis excepturi quo </p>
                <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Book A Table</a>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="/public/assets/thali-removebg-preview.png" alt="">
            </div>
        </div>
    </div>
</div>

</section>

<!-- Carousel Content -->

<section>
<!-- Services Content -->
<div class="container-xxl py-5">
  <div class="container mt-5">
      <div class="row g-4">
          <div class="col-lg-3 col-sm-6 wow fadeInUp " data-wow-delay="0.1s">
              <div class="service-item rounded pt-3">
                  <div class="p-4 text-center">
                      <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                      <h6 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h6>
                      <h5>Master Chefs</h5>
                      <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item rounded pt-3">
                  <div class="p-4 text-center">
                      <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                      <h5>Quality Food</h5>
                      <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item rounded pt-3">
                  <div class="p-4 text-center">
                      <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                      <h5>Online Order</h5>
                      <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="service-item rounded pt-3">
                  <div class="p-4 text-center">
                      <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                      <h5>24/7 Service</h5>
                      <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Service End -->


</section>

<!-- Back to Top Button -->

<app-about></app-about>
<!-- Footer -->
<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <h4>Company</h4>
              <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Contact Us</a></li>
              </ul>
          </div>
          <div class="col-lg-3">
              <h4>Services</h4>
              <ul class="list-unstyled">
                  <li><a href="#">Delivery</a></li>
                  <li><a href="#">Catering</a></li>
                  <li><a href="#">Private Events</a></li>
              </ul>
          </div>
          <div class="col-lg-3">
              <h4>Legal</h4>
              <ul class="list-unstyled">
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms of Use</a></li>
              </ul>
          </div>
          <div class="col-lg-3">
              <h4>Follow Us</h4>
              <ul class="list-inline">
                  <li><a href="#" class="btn btn-social"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" class="btn btn-social"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" class="btn btn-social"><i class="fab fa-instagram"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 text-center">
              <p class="copyright">
                  &copy; 2024 Your Restaurant. All rights reserved. Designed by Your Company.
              </p>
          </div>
      </div>
  </div>
</footer>

<!-- Back to Top Button -->
<a href="#" class="back-to-top btn btn-lg-square btn-primary">
  <i class="fas fa-arrow-up"></i>
</a>
